




/* =================== */




.swiper {
  width: 100%;
  height: 100%;
}


.swiper-pagination-bullet {
  width: 60px !important;
  height: 40px !important;
  padding: 5px 5px 5px 10px;
  border-radius: 0px !important;
 
  line-height: 20px;
  font-size: 16px;
  color: #000 !important;
  opacity: 1 !important;
  background: none !important;
}

.swiper-pagination-bullet-active {
  color: #051F20 !important;
  background: none !important;
  border-bottom: 2px solid #051F20;
}
.swiper-pagination {
	position: absolute;
	top: 10px !important;
	left: 10px;
	width: auto !important;
	left: auto !important;
	margin: 0;

}