.tabs .tab-header {
  display: flex;
  align-items: center;
  gap: 20px;
}
.tabs .tab-header > div {
  line-height: 35px;
  cursor: pointer;
  margin-bottom: 10px;
}

.tabs .tab-header > div.active {
  border-bottom: 2px solid #051f20;

}

.tabs .tab-content {
  position: relative;
  height: 100vh;

  margin: 0;
}
.tabs .tab-content > div {
  position: absolute;
  opacity: 0;
  left: -100%;
  transition: left 500ms ease-in-out 0ms, opacity 500ms ease-in-out 0ms;
}

.tabs .tab-content > div.active {
  left: 0px;
  opacity: 1;
}
